---
layout: layouts/base.njk
title: About
permalink: /about
---

<h1>About Me</h1>
<div class="card mb-3" style="max-width: auto">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/me.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Who am I?</h5>
                <p class="card-text">
                    I am a Computer Programming and Analysis student with strong technical skills and experience in mainframe development
                    and web technologies. I am proficient in Russian, English, and actively improving my French. I am highly motivated and
                    enjoy tackling challenging projects, whether it's building complex COBOL programs or creating modern web applications
                    using frameworks like 11ty and Bootstrap. I also have a solid understanding of cloud computing, having worked with AWS
                    and Google Cloud to set up various services, including VPN configurations. In his free time, Maxim loves exploring new
                    places, and his travel experiences include trips to 30+ countries mainly across europe.
                </p>
                <p class="card-text ">
                    <small class="text-muted">Glad to see you on my website!</small>
                </p>
            </div>
        </div>
    </div>
</div>