---
layout: layouts/base.njk
title: Contacts
permalink: /contacts
---

<h1>Contact Me</h1>
<p>
    Feel free to reach out to me through the following methods:<br>
    <b>Email:</b> <a href="mailto:mdleypunskiy@gmail.com">mdleypunskiy@gmail.com</a><br>
    <b>Phone:</b> +1 123 456 7890<br>
    <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/max-leypunskiy/">linkedin.com/in/max-leypunskiy</a>
</p>